header{
    height: 75px;
    padding:1rem;
    .navbar{
        @extend %flex_sb;
        .logo{
            a{
                color: #fff;
                font-size: 2rem;
            }
        }
        .nav-lists{
            flex: 1;
            @extend %flex_center;
            li{
            padding: 1rem;
            display: grid;
            place-items: center;
            a{
                color: #fff;
                transition:.3s ease-out;
                &:hover{
                    color: $main-color;
                }
            }
            }            
        }
    }
}