.partners{
   padding-bottom: 5rem;
    .text{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        p{
            color: $gray-text;
            margin-right: 2rem;
        }
        span{
            display: block;
            height: 1px;
            flex: 1;
            background: #ccc;
        }
    }

    &-logos{
      @extend %flex_sb;
      align-items: start;
      flex-wrap: wrap;
      img{
          width: 100px;
      }
    
    }
}



@media (max-width:768px){
    .partners{
        padding-bottom: 0;
         .text{
             display:  block;
             p{
               margin-bottom: 1.2rem;
             }
         }
     }
     
}
@media (max-width:600px){
    .partners{
        &-logos{
           display: block;
            img{
                width: 100px;
                display: block;
                margin: 2rem auto;
            }
          
          }
     }
     
}